
body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    width: 50%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #7C8AB5;
    line-height: 2;
}

h2 {
    color: #355496;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;

    /* margin-top: 100px;
    margin-bottom: 100px; */

}

p {
    line-height: 2;
}

hr {
    border: dotted #eaf6f6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    size: 50px;

}

a {
    color: #DCE7FB;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}

a:hover {
    color: #355496
}

.top-container {
    background-color: #ecf4fd;
}

.middle-container {
    margin: 100px 0;


}

.bottom-container {
    background-color: #7c8ab5;
    padding: 50px 0 20px;

}

.skill-row {
    width: 50%;
    height: 300px
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    /* margin-top: 200px; */

}

.programmer-img {
    height: 400px;
    width: 600px;
}

.code-img {
    width: 50%;
    float: left;
    margin-right: 30px;

}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 20px;

}

.intro {
    width: 30%;
    margin: auto;
}

.programmer {
    margin-bottom: 40px;
    margin-top: 40px;
    height: 100px;
}

.skills {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #7C8AB5;
    background-image: -webkit-linear-gradient(top, #7C8AB5, #355496);
    background-image: -moz-linear-gradient(top, #7C8AB5, #355496);
    background-image: -ms-linear-gradient(top, #7C8AB5, #355496);
    background-image: -o-linear-gradient(top, #7C8AB5, #355496);
    background-image: linear-gradient(to bottom, #7C8AB5, #355496);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #DCE7FB;
    text-decoration: none;
  }

  .copyright {
    font-size: 0.75rem;
    padding: 20px 0;
  }
